:root {
  --blue-bubble-bg: #4B8DFF;
  --blue-bubble-text: #FFF;
  --grey-bubble-bg: #E6EBF5;
  --grey-bubble-text: #5A5F69;
}

.feed {
  overflow-y: scroll;
  height: calc(100vh - (60px + 54px));
  padding-bottom: 50px;
}

.msg {
  display: flex;
  position: relative;
  margin-left: 50px;
}

.msg-out {
  justify-content: flex-end;
  margin-right: 10px;
}

/* left chat bubble flick */
.msg:before {
  content: "";
  position: absolute;
  bottom: 22px;
  left: -5px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid var(--grey-bubble-bg);
  border-radius: 10px;
}

/* right chat bubble flick */
.msg.msg-out:before {
  left: auto;
  right: 10px;
  border-right: 0px solid transparent;
  border-left: 10px solid var(--blue-bubble-bg);
  border-radius: 10px;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  position: absolute;
  background-color: lightblue;
  left: -50px;
  bottom: 15px;
}

.bubble {
  max-width: 300px;
  border-radius: 7.5px;
  padding: 14px 10px 5px 10px;
  margin-bottom: 20px;
  background-color: var(--grey-bubble-bg);
}

.bubble p {
  color: var(--grey-bubble-text);
}

.msg-out .bubble {
  margin-right: 15px;
  background-color: var(--blue-bubble-bg);
}

.msg-out .bubble p {
  color: var(--blue-bubble-text);
}
